form .form-field-wrapper {
  display: block;
}

form .form-field-wrapper .error-display {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

form .form-field-wrapper .error-display::before {
  display: inline;
  content: "⚠ ";
}